SECRET_KEY=tu-clave-secreta-de-django
DATABASE_URL=postgres://usuario:password@host:5432/nombre_db
CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret
