<nav class="navbar">

    <div class="navbar-left">
        <a href="/">Inicio</a>
        <a href="/feed/">Feed</a>
        <a href="/posts/create/">Publicar</a>
    </div>

    <div class="navbar-right">
        {% if user.is_authenticated %}
            <span class="navbar-user">Hola {{ user.username }}</span>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Registro</a>
        {% endif %}
    </div>

</nav>
